<ion-content>
  <div style="padding: 24px;">
    <ion-img src="assets/imgs/logo2.jpeg" style="height: 120px;width: 120px;margin-top: 30px;" ></ion-img>
    <p style="margin-bottom:32px;margin-top: 24px;font-size:28px; color:#222222; font-family: myFirstFont1;"><b>Hello There! </b></p>
    <p style="font-size:22px;font-family: myFirstFont3; color: #707070;">Welcome</p>
    <p style="font-size:14px;font-family: myFirstFont3; color: #A2A2A2;">Sign In to continue</p>
  
</div>

  <ion-button expand="block" routerLink="/menu/first">Login</ion-button>
</ion-content>